<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Inicio</title>
</head>
<body>
    <nav class="fixed top-0 bg-red-300 flex flex-row w-[100%] h-[70px] items-center justify-around">
        <h1>PAGINA HOME</h1>
        <a class="p-2 w-[150px] text-center text-white hover:text-black" href="/registrarte">Registrarte</a>
        <a  class="p-2 w-[150px] text-center  text-white hover:text-black" href="/iniciar">Iniciar Sesion</a>
    </nav>
    <div class="flex flex-col w-[100%] h-[100vh] items-center justify-center gap-3">
        <h1>Bienvenido</h1>
        <h1>EXAMEN LUIS</h1>
    </div>
</body>
</html>