<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body class="flex flex-col w-[100%] h-[100vh] items-center justify-center">
    <nav class="fixed top-0 bg-red-300 flex flex-row w-[100%] h-[70px] items-center justify-around">
        <h1>PAGINA REGISTRO</h1>
        <a class="p-2 w-[150px] text-center text-white hover:text-black" href="/registrarte">Registrarte</a>
        <a  class="p-2 w-[150px] text-center  text-white hover:text-black" href="/iniciar">Iniciar Sesion</a>
    </nav>
    <form action="/registrarteBD" method="post" class="flex flex-col w-[300px] h-[300px] bg-gray-300 items-center justify-center gap-3">
        <h1>Registrarme</h1>
        <input class="w-[250px] bg-white text-black text-center" type="email" name="correo" placeholder="Correo" required>
        <input class="w-[250px] bg-white text-black text-center" type="placeholder" name="contra" placeholder="contraseña" required>
        <button class="p-2 text-white bg-black rounded cursor pointer hover:bg-red-500" type="submit">Registrarme</button>
    </form>
    {{mensaje}}
</body>
</html>